h1 {
  color: #ca8b03;
  text-align: center;
  font-weight: bolder;
  font-family: sans-serif;
  font-size: 69px;
}

h2 {
  font-style: italic;
  text-align: center;
}

p {
  font-family: sans-serif;
}

ul {
  font-size: 20px;
  line-height: 30px;
}

ol {
  font-size: 20px;
  line-height: 20px;
}